<div>
	<br/><button><%= link_to "create new post",new_post_path %></button>button><br/>

	<% @posts.each do |post| %>
	<%= link_to post.name,post_path(post) %>
	<button><%= link_to "Edit",edit_path(post) %></button>
	<button><%= link_to 'Delete',post, method: :delete,data: {confirm: 'Are you sure?'} %></button><br/>
</div>
<% end %>